* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* body {
  background: 
  hsl(0, 45%, 13%);
} */
 .page{
  padding: 3px;
background-color: #03455ab1;
 min-height: 100vh;
  width: 100%;
  overflow: auto;
  flex-direction: row;
  /* display: flex; */
  /* position: absolute; */
 }
 .table{
    min-height: 90vh;
    /* background-color: rgb(36, 49, 194); */
    margin: 3px;
 }
 .matches{
    background-color: rgba(255, 255, 255, 0.655);
    display: flex;
    justify-content: space-around;
   min-height: 70px;
    padding: 3px;
  transition: all 0.3s ease;
      margin-bottom: 25PX;


 }
 .score{
  display:inline-block;
  font-size:50px;
  font-weight:bold;
}
 .matdel{
    /* background-color: aliceblue; */
display: flex;
flex-direction: column;
 justify-content: center;
 text-align: center;
 padding: 4px;
 /* overflow: auto; */

 }
.matdel h5{
color: #131212;
font-size: 20px;
text-decoration: none;


 }
 .matdel h4{
color: #6d1297;
font-size: 30px;
text-decoration: none;
margin: 6px;
 }
  .matdel h3{
color: #070707;
font-size: 40px;
text-decoration: none;
margin: 6px;
 }
 .maz{
          text-decoration: none;
          height: 30vh;

 }



.maz:hover .matches {
  background: #737e90;
  transform: translateY(-2px);
  border-left: 4px solid #38bdf8;
  color: #faf7f7;
}