.mazen{
 cursor: "pointer";
font-size: 15px;
     backdrop-filter: blur(2px);
  background: rgba(247, 230, 230, 0.145);
max-height: 40vh;
overflow: auto;
       margin: 3px;
       padding: 6px;
    text-align: right;
    /* background-color: rgb(243, 226, 226); */
    width: 200px;
    /* display: flex; */
/* flex-direction: column; */
position: absolute;
}
.oki{
    color: #e5e8e5;
    text-decoration: none;
font-family: 'Courier New', Courier, monospace;
}
.in{
    text-align: right;
    padding-right: 2px;
    
}
.in::placeholder{
    text-align: left;
}
 .mazen::-webkit-scrollbar {
    display: none;
}
.mazen {
    scrollbar-width: none;
}

/* IE و Edge القديم */
.mazen {
    -ms-overflow-style: none;
}
.results h2{
    color: #f00808;
    font-size: 15px;
    margin-right: 5px;
}



