* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}


 .page{
  padding: 3px;
background-color: #03455ab1;
  height: 100vh;
  width: 100%;
  overflow: auto;
  flex-direction: row;
 }
 .moa{
padding: auto;
margin: auto;
width: 45%;
height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
 }
 .secmoa{
flex-direction: column;
padding: auto;
margin: auto;
  width: 45%;
height: 100vh;
 display: flex;
    justify-content: center;
    align-items: center;
 }
 .page2{
    flex-direction: row;

  display: flex;

 }
 .secmoa p{
 
color: #ebebf3;
font-size: 25px;
text-align: right;

 }
h1{
color: #e4d0d0;
font-size: 60px;
margin: auto;
padding: auto;

 }
  .highlight {
      color: #090b0e;
      font-weight: bold;
    }
    .btn {
  display: block;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.whatsapp {
  background: #25D366;
}

.facebook {
  background: #1877F2;
}

.email {
  background: #333;
}

 @media (max-width: 768px) {

  .page2 {
    flex-direction: column;
    padding: 15px;
  }

  .moa {
    width: 100%;
    margin-bottom: 20px;
  }

  .secmoa {
    width: 100%;
  }

  h1 {
    font-size: 32px;
    text-align: center;
  }

  .secmoa p {
    font-size: 16px;
    text-align: right;
  }
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.page {
background-color: #03455ab1;

  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.moa {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



.secmoa {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.secmoa p {
  color: #ebebf3;
  font-size: 20px;
  line-height: 1.8;
  text-align: right;
  margin-bottom: 15px;
}

h1 {
  color: #e4d0d0;
  font-size: 50px;
  margin-bottom: 20px;

  
}

.highlight {
  color: #090b0e;
  font-weight: bold;
}
.btn {
  display: block;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.whatsapp {
  background: #25D366;
}

.facebook {
  background: #1877F2;
  
}

.email {
  background: #333;
}


@media (max-width: 768px) {
  .page2 {
    flex-direction: column;
    padding: 15px;
  }

  .moa,
  .secmoa {
    width: 100%;
  }

  h1 {
    font-size: 32px;
    text-align: center;
  }

  .secmoa p {
    font-size: 16px;
    text-align: right;
  }
   } */
